---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="cv-section"> 
    Email: s&lt;dot&gt;bhargav&lt;at&gt;uva&lt;dot&gt;nl  <br/>
    <a href="https://twitter.com/samarthbhargav">Twitter</a> | <a href="https://scholar.google.com/citations?user=fDaZZZ4AAAAJ">Scholar</a> 
    | <a href="https://github.com/samarthbhargav/">Github</a> 
  </div>

  <div class="cv-section"> 
    I'm a PhD Candidate at the Information Retrieval Lab (IRLab), located in Science Park, Amsterdam. 
    My research interests include: Representation Learning, Disentanglement, Recommender Systems, Conversational AI, Transparent A.I Systems among other things. 

  </div>
  

  <div class="cv-section">
    <h2 class="post-list-heading">Education</h2>

    <p>
      <img src="" />
      <b>PhD Candidate</b> <span class="grey">2019-</span> Information and Language Processing Systems, University of Amsterdam
      <br/>Supervised by <a href="https://staff.fnwi.uva.nl/e.kanoulas/">Prof. dr. Evangelos Kanoulas</a>
    </p>

    <p>
      <b>MSc in Artificial Intelligence</b> <span class="grey">2017-2019</span> University of Amsterdam
      <br/><span class="dark-grey">Thesis:</span> Geometric Priors for Disentangling Representations, supervised by dr. Patrick Forre and Andy Keller
    </p>

    <p>
      <b>Bachelor's Degree in Information Science</b> <span class="grey">2010-2014</span> Bachelor of Engineering, Information Science
      <br/><span class="dark-grey">Thesis:</span> Natural Language Interfaces for Business Intelligence Systems
    </p>
  </div>

  
  
  <div class="cv-section">
    <h2 class="post-list-heading">Publications</h2>

    See <a href="https://scholar.google.com/citations?user=fDaZZZ4AAAAJ">Scholar</a>
    
  </div>
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
