---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="cv-section"> 
    Email: s&lt;dot&gt;bhargav&lt;at&gt;uva&lt;dot&gt;nl  <br/>
    <a href="https://twitter.com/samarthbhargav">Twitter</a> | <a href="https://scholar.google.com/citations?user=fDaZZZ4AAAAJ">Scholar</a> 
    | <a href="https://github.com/samarthbhargav/">Github</a> 
  </div>

  <div class="cv-section"> 
    I'm a PhD Candidate at the <a href="https://ilps.science.uva.nl/">Information Retrieval Lab (IRLab)</a> (formerly ILPS), located in the Science Park campus of the University of Amsterdam. I have a Master's Degree in 
    Artificial Intelligence (cum laude) from the University of Amsterdam and a Bachelor's degree in Information Science (with Distinction) from VTU (Visvesvaraya Technological University). 
    
    <br>
    <br>My research interests include: Representation Learning, Disentanglement, Recommender Systems, Conversational AI, Transparent A.I Systems. 

  </div>
  

  <div class="cv-section">
    <h2 class="post-list-heading">Education</h2>

    <p>
      <b>PhD Candidate</b> <span class="grey">2019-</span> Information Retrieval Lab (IRLab), University of Amsterdam
      <br/>Promotor/Supervisor: <a href="https://staff.fnwi.uva.nl/e.kanoulas/">Prof. dr. Evangelos Kanoulas</a>
      <br/>Co-promotor: <a href="https://wilkeraziz.github.io/">Prof. dr. Wilker Aziz</a>

      <br/> Current Project: Investigating Controllable Deep Recommenders using Semi-supervised Disentanglement 
    </p>

    <p>
      <b>MSc in Artificial Intelligence</b> <span class="grey">2017-2019</span> University of Amsterdam
      <br/><span class="dark-grey">Thesis:</span> Geometric Priors for Disentangling Representations, supervised by dr. Patrick Forre and Andy Keller
      <br/>I investigated the use of Geometric priors as an inductive bias for Unsupervised Disentanglement. 
    </p>

    <p>
      <b>Bachelor of Engineering, Information Science</b> <span class="grey">2010-2014</span> Visvesvaraya Technological University
      <br/><span class="dark-grey">Thesis:</span> Natural Language Interfaces for Business Intelligence Systems
      <br/>Built a Natural Language Interface that allowed users to query the system using text/voice 
    </p>
  </div>

  <div class="cv-section">
    <h2 class="post-list-heading">Publications</h2>

    See <a href="https://scholar.google.com/citations?user=fDaZZZ4AAAAJ">Scholar</a>
    
  </div>

  <div class="cv-section">
    <h2 class="post-list-heading">Supervision</h2>
    <span class="grey">2020/2021</span>
    <p>
      <b>Giguru Scheuer</b>, MSc A.I <span class="grey">Converse: an IR framework proposal for reproducible research on conversational search and recommendation</span> 
    </p>    



    <span class="grey">2019/2020</span>
    <p>
      <b>Chiel Heldoorn</b>, MSc I.S <span class="grey">Mutual knowledge distillation</span> 
    </p>    
    <p>
      <b>Buck Boon</b>, BSc K.I <span class="grey">On the tip of my tongue: A potential dataset for Question Answering systems</span> 
    </p>    
  </div>

  <div class="cv-section">
    <h2 class="post-list-heading">Teaching</h2>

    <span class="grey">2020/2021</span>
    <p>
      <b>Information Retrieval 1</b> <span class="grey">(52041INR6Y)</span> (Planned)
    </p>
    <p>
      <b>Information Retrieval 2</b> <span class="grey">(52042INR6Y)</span> Project Supervision: <span class="grey">A framework for Reproducability in Conversational Search systems</span>
    </p>

    <span class="grey">2019/2020</span>
    <p>
      <b>Information Retrieval 1</b> <span class="grey">(52041INR6Y)</span> Created assignments 1 and 3.
    </p>
    
  </div>
  
  
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
